#
# APPLICATION
#
APP_NAME=boilerplate
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true
APP_API_KEY=key
APP_CORS_WHITELIST=http://localhost:3000

#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

#
# PostgreSQL DATABASE
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=db
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTURE
#
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
INTERCEPTORS=src/api/interceptors/**/*Interceptor.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
RESOLVERS=src/api/resolvers/**/*Resolver.ts

#
# GraphQL
#
GRAPHQL_ENABLED=true
GRAPHQL_ROUTE=/graphql
GRAPHQL_EDITOR=true

#
# Hasura
#
HASURA_ENABLED=true
HASURA_REMOTE=http://localhost:8080/
HASURA_SECRET=secret
HASURA_USERNAME=admin
HASURA_PASSWORD=1234


#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_AUTOGENERATION_ENABLED=false
SWAGGER_ROUTE=/swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234
SWAGGER_FILE_ENABLED=false
SWAGGER_FILE_PATH=/../swagger-example.yaml
SWAGGER_API_URL=http://localhost:3000/api

#
# Status Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/monitor
MONITOR_USERNAME=admin
MONITOR_PASSWORD=1234

#
# Redis
#
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379

#
# Elasticsearch
#
ELASTICSEARCH_ENABLED=false
ELASTICSEARCH_HOST=
ELASTICSEARCH_API_VERSION=
ELASTICSEARCH_INDEX_MOBILE_PREFIX=mobile
